<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.federicopuy.examenfavlapp">

    <application
        android:name=".core.FavlExamApp"
        android:allowBackup="true"
        android:icon="@drawable/logo_favl"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo_favl"
        android:supportsRtl="true"
        android:theme="@style/Theme.ExamenFAVLApp.NoActionBar">
        <activity
            android:name=".presentation.flows.question.QuestionComposeActivity"
            android:exported="true"
            android:label="@string/title_activity_question_compose" />
        <activity
            android:name=".presentation.flows.mainmenu.MainActivity"
            android:exported="true"
            android:label="@string/title_activity_main">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>